.playlist-image
{box-shadow:0 0 80px rgba(0,0,0,0.2);
  width:100%;
  display:block
}

.crop {
 height: 300px;
 width: 400px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}
h1{
  font-size:60px;
}
