.playlist-image
{box-shadow:0 0 80px rgba(0,0,0,0.2);
  width:100%;
  display:block
}

.crop {
 height: 200px;
 width: 200px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 300px;
}
.bigfont{
  font-size:100px;
  font-family: sans-serif;
}
.pol{
    position:relative;
    float:inherit;
    width: 400px;
    height: 400px;

    /*background-position: 50% 50%;*/
    background-repeat:   no-repeat;
    background-size:     cover;

}
.fix{
  display:inline-block;
}
body {
    background-image: url('wall.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.siz
{width: 33.3%;
height: auto;}

/*ul.rig{
  list-style: none;
  font-size: 0px;
}
ul.rig li{
  display: inline-block;
}*/
