body {
    background-image: url('http://more-sky.com/data/out/7/IMG_138473.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.bigfont{
  font-size:100px;
  font-family:'Raleway';
}
.glyphicon {
    font-size: 60px;

}
#rig {
  max-width:100%;
  margin:0 auto; /*center aligned*/
  padding:0;
  font-size:0; /* bitches remember to change it back to normal font size if have captions */
  list-style:none;
  background-color: rgba(0,0,0,0);
}
#rig li {
  display: inline-block;
  *display:inline;
  width:25%;
  vertical-align:middle;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* The wrapper for each item  fuck  i am writing this*/
.rig-cell {
  /*margin:12px;
  should not be used
  box-shadow:0 0 6px rgba(0,0,0,0.3);*/
  display:block;
  position: relative;
  overflow:hidden;
}

/* If have the image layer */
.rig-img {
  display:block;
  width: 100%;
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}

#rig li:hover .rig-img {
  transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #000 center 20%;
  background-size:50px 50px;
  opacity:0;
  filter:alpha(opacity=0);/*For IE6 - IE8*/
  transition:all 0.6s;
}
#rig li:hover .rig-overlay {
  opacity:0.3;
}

/* If have captions */
.rig-text-artist{
  display:block;
  padding:0 60px;
  box-sizing:border-box;
  position:absolute;
  right:10%;

  width:100%;
  text-align:left;
  text-transform:capitalize;
  font-size:33px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  font-weight:normal!important;
  top:5%;
  color:white;
  opacity:0;
  filter:alpha(opacity=0);/*For older IE*/  transform:translateY(-20px);  transition:all .3s;
}
.rig-text-song {
  display:block;
  padding:0 60px;
  box-sizing:border-box;
  position:absolute;
  right:10%;

  width:100%;
  text-align:left;
  text-transform:capitalize;
  font-size:30px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;

    font-weight:normal!important;
  top:20%;
  color:white;
  opacity:0;  filter:alpha(opacity=0);/*For older IE*/
  transform:translateY(-20px);
  transition:all .5s;
}
.rig-text-logo-play {
  display:block;
  padding:0 60px;
  box-sizing:border-box;
  position:absolute;
  right:10%;

  width:100%;
  text-align:left;
  text-transform:capitalize;


  font-weight:normal!important;
  top:70%;
  color:white;
  opacity:0;
  filter:alpha(opacity=0);
  transform:translateY(-20px);/* sending font backward */
  transition:all .7s;
}
.largeheader{
  font-size: 30px;
    color:white;
    
}
.smallheader{
  font-size: 22px;
}
.rig-text-logo-download{
  display:block;
  padding:0 60px;
  box-sizing:border-box;
  position:absolute;


  width:100%;
  text-align:right;
  text-transform:capitalize;
  font-size:33px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  font-weight:normal!important;
  top:70%;
  color:white;
  opacity:0;
  filter:alpha(opacity=0);
  transform:translateY(-20px);/* sending font backward */
  transition:all .7s;
}

#rig li:hover .rig-text-artist{
  transform:translateY(0px); /* bringing it above when needed */
  opacity:0.9;
}
#rig li:hover .rig-text-song{
  transform:translateY(0px); /* bringing it above when needed */
  opacity:0.9;
}
#rig li:hover .rig-text-logo-download{
  transform:translateY(0px); /* bringing it above when needed */
  opacity:0.9;
}
#rig li:hover .rig-text-logo-play{
  transform:translateY(0px); /* bringing it above when needed */
  opacity:0.9;
}

@media (max-width: 9000px) { /*responsive design trick */
  #rig li {
      width:25%;
  }
}

@media (max-width: 1500px) {
    #rig li {
      width:33.33%;
  }
}

@media (max-width: 950px) {
  #rig li {
      width:50%;
  }
  @media (max-width: 700px) {
      #rig li {
          width:100%;
      }
}
